.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
.sortingOptions {
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.sortingOptions p {
  margin: 0;
  padding-right: 10px;
  font-weight: 700;
}
.sort {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding-right: 20px;
}

.order {
  display: flex;
  align-items: center;
}

.totalResults {
  display: flex;
  justify-content: flex-end;
  flex-basis: 10vw;
  flex-grow: 1;
  margin-right: 10px;
}

@media screen and (max-width: 700px) {
  .sort {
    flex-basis: 100vw;
  }

  .order {
    margin-left: 10px;
  }
}
@media screen and (max-width: 500px) {
  .sort {
    flex-basis: 100vw;
  }

  .order {
    margin-left: 10px;
    flex-basis: 100vw;
  }
}
