.appHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: #d4d4d4;
  padding-left: 16px;
}
.logoContainer {
  display: flex;
}
.headerMenu {
  display: flex;
  align-items: center;
  flex-basis: 15vw;
}
.headerMenu li {
  list-style-type: none;
  padding-right: 15px;
}
.headerMenu a {
  text-decoration: none;
}

.hamburgerMenu {
  position: relative;
}
.hamburgerMenu > div {
  position: relative;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: #747474;
  border-radius: 3px;
  z-index: 10;
}
.menuItemsContainer {
  position: absolute;
  top: -5px;
  left: -5px;
  background: #ddd;
  width: 120px;
  height: 15px;
  padding-top: 35px;
  opacity: 0;
  transition: all 0.3s ease;
  visibility: hidden;
}
.menuItemsContainer p {
  padding: 5px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
}
.menuItemsContainer p:hover {
  padding-left: 25px;
  background-color: rgb(199, 199, 199);
  transition: all 0.3s ease;
}
.show {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease;
  height: fit-content;
  padding-bottom: 10px;
}
.show p {
  opacity: 1;
  transition: all 1.5s ease;
}

@media screen and (max-width: 600px) {
  .logoContainer {
    flex-basis: 100vw;
    justify-content: center;
  }
  .logoContainer h1 {
    font-size: 1.8rem;
  }
}
