.form {
  background-color: #d4d4d4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 25px;
  margin-bottom: 40px;
}
.form label {
  padding-right: 10px;
}
.basicFieldset {
  border: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}
.searchText {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 5vw;
}
.searchTextInput {
  display: flex;
}
.validationWarning {
  color: #e80000;
}
.searchType {
  display: flex;
  align-items: center;
}
.searchButtons {
  display: flex;
  align-items: center;
  padding: 12px;
}
.searchButtons button {
  min-width: 60px;
  min-height: 20px;
  border: none;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0px 4px 3px #aaaaaa;
  margin-right: 10px;
  cursor: pointer;
}
.searchButtons button:hover {
  background-color: #e5e5e5;
}

.searchButtons button:focus {
  outline: none;
}
.searchButtons button:active {
  box-shadow: 0px 4px 2px #aaaaaa;
  transform: translateY(1px);
}
.searchIcon {
  width: 15px;
}
