.searchResultListContainer {
  background-color: #f6f6f6;
  margin-left: 15px;
  margin-right: 15px;
}
.searchResultList {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}
.listItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px 5px;
  margin: 10px;
  background-color: #c4c4c4;
}
.listItemNameSection {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-basis: 15vw;
  word-break: break-word;
}
.listItemStarSection {
  display: flex;
  flex-direction: column;
  flex-basis: 7vw;
  flex-shrink: 5;
}
.listItemForkSection {
  display: flex;
  flex-direction: column;
  flex-basis: 6vw;
  flex-shrink: 5;
}
.listItemDescriptionSection {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-basis: 25vw;
  word-break: break-word;
}
.listItemLanguageSection {
  display: flex;
  flex-direction: column;
  flex-basis: 6vw;
  flex-shrink: 5;
}
.listItemDateSection {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-basis: 15vw;
  word-break: break-word;
}
.listItemOwnerSection {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-basis: 10vw;
  word-break: break-word;
}
.listItemAvatarSection {
  display: flex;
  flex-direction: column;
  flex-basis: 6vw;
  flex-shrink: 5;
}
.listItemName {
  font-weight: 700;
}
.listItemFullName {
  font-size: 0.8em;
}
.listItemLanguage {
  width: fit-content;
  min-width: 50px;
  padding: 0 3px;
  background-color: #f2f2f2;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
}
.listItemImage {
  width: 60px;
  border-radius: 50%;
}
@media screen and (max-width: 1200px) {
  .listItemNameSection {
    flex-basis: 100vw;
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 1em;
  }
  .listItemForkSection {
    flex-basis: 15vw;
  }
  .listItemStarSection {
    flex-basis: 15vw;
  }
  .listItemDescriptionSection {
    flex-basis: 30vw;
    padding-bottom: 1em;
  }
  .listItemLanguageSection {
    flex-basis: 10vw;
    padding-bottom: 1em;
  }
  .listItemDateSection {
    flex-basis: 20vw;
    padding-bottom: 1em;
  }
  .listItemOwnerSection {
    flex-basis: 45vw;
    align-items: flex-end;
  }
  .listItemAvatarSection {
    flex-basis: 45vw;
    align-items: flex-start;
  }
}
@media screen and (max-width: 900px) {
  .listItemNameSection {
    flex-basis: 100vw;
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 1em;
  }
  .listItemForkSection {
    flex-basis: 20vw;
  }
  .listItemStarSection {
    flex-basis: 20vw;
  }
  .listItemDescriptionSection {
    flex-basis: 40vw;
    padding-bottom: 1em;
  }
  .listItemLanguageSection {
    flex-basis: 10vw;
    padding-bottom: 1em;
  }
  .listItemDateSection {
    flex-basis: 40vw;
    padding-bottom: 1em;
  }
  .listItemOwnerSection {
    flex-basis: 40vw;
  }
  .listItemAvatarSection {
    flex-basis: 10vw;
  }
}
@media screen and (max-width: 600px) {
  .listItemNameSection {
    flex-basis: 70vw;
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 1em;
  }
  .listItemForkSection {
    flex-basis: 35vw;
    text-align: center;
  }
  .listItemStarSection {
    flex-basis: 35vw;
    text-align: center;
  }
  .listItemDescriptionSection {
    flex-basis: 80vw;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
  }
  .listItemLanguageSection {
    flex-basis: 20vw;
    padding-bottom: 1em;
    align-items: flex-end;
  }
  .listItemDateSection {
    flex-basis: 60vw;
    padding-bottom: 1em;
    text-align: center;
  }
  .listItemOwnerSection {
    flex-basis: 35vw;
    text-align: center;
  }
  .listItemAvatarSection {
    flex-basis: 35vw;
    align-items: center;
  }
}
